<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable PHPCompatibility.Miscellaneous.RemovedAlternativePHPTags.MaybeASPOpenTagFound
/** @var $block \Alex\BlogPost\Block\Posts */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php

?>
<div data-bind="scope: 'alex-component'">
    <div class="pagination">
        <div class="pagination-block"><a id="prev-page" data-page="" href="">prevPage</a></div>
        <div class="pagination-block"><a id="next-page" data-page="" href="">nextPage</a> </div>
    </div>




    <ul id="post-list"></ul>


    <form class="form form-login"
          action=""
          method="post"
          id="add-new-comment-form"
          data-mage-init='{"validation":{}}'>
        <?= $block->getBlockHtml('formkey') ?>
        <div class="field comment required">
            <label class="label" for="comment">
                <span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span>
            </label>
            <div class="control">
                <textarea name="comment"
                          id="comment"
                          title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                          class="input-text"
                          cols="5"
                          rows="3"
                          data-validate="{required:true}"
                >Something</textarea>
            </div>
        </div>
        <button class="send_ajax">sendComment</button>
    </form>


</div>

<style>
    .pagination{
        display: inline-block;
        width: 250px;
    }
    .pagination .pagination-block {
        width: 45%;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;

    }

</style>

<script type="text/x-magento-init">
{
   "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "alex-component":{
                    "component": "Alex_BlogPost/js/component"
                    }
                }
            }
        }
}



</script>

<script>
    function updateBlogPage(data) {
        jQuery('#post-list').html('');
        let pagination = data.pagination;
        jQuery('#next-page').data('page', pagination.next)
        jQuery('#prev-page').data('page', pagination.previous)

        for (let post in data.posts) {
            let postData = data.posts[post];
            jQuery('#post-list').append('<li><span>' + postData.title + '</span></li>')
        }
    }

    function getBlogPosts(page = 1) {
        jQuery.ajax({
            url: '/blog/provider?page=' + page,
            type: "GET",
            showLoader: true,
            cache: false,
            success: function (response) {
                console.log(response);
                updateBlogPage(response);
            },
            error: function (response) {
                console.log(response);
            },
        });

    }

    require(['jquery'], function () {
        jQuery(document).ready(function () {

            getBlogPosts();

            jQuery(document).on('click', '#next-page,#prev-page ', function (event) {
                event.preventDefault();
                getBlogPosts(jQuery(this).data('page'));
            })

            jQuery(document).on('click', '.send_ajax', function (event) {

                let form = jQuery('#add-new-comment-form');
                let unindexed_array = form.serializeArray();
                let indexed_array = {};

                jQuery.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });


                var url = "/blog/provider";
                jQuery.ajax({
                    url: url,
                    type: "POST",
                    data: indexed_array,
                    showLoader: true,
                    cache: false,
                    success: function (response) {
                        alert("Message was sent")
                        console.log(response)
                        // updateBlogs(response);
                    },
                    error: function (response) {
                        alert("Problems")
                        console.log(response);
                    },
                });
                return false;
            });
        });
    });
</script>
